.about{
   height: 70vh;
    width: auto; 
    /* background-image:url(img/home.png) ; */
    background-color: #ededed;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}
@media (max-width: 768px){
 .about{
  grid-template-columns: 1fr;
  justify-content: center;
  text-align: center;
  height: 70vh;
  width: auto;
  margin-top: 200px;
  background-color:#ededed ;


  
}
.about-img img{
  height: 500px;
  width: 100px; ;
}
}
.about-img img{
  padding: 50px;
  height: 530px;
  width: 450px;
  margin-left: 100px;
  margin-bottom: 50px;
  transition: all 1s ease;

}
.about-img img:hover{
  height: 500px;
  width: 480px;
  border-radius: 20%;
}
.about-content{
 margin-top: 50px;
 
  height: 500px;
  width: 500px;
}
.about-content h1{
  text-align: center;
font-size: 80px;
}

.about-content h1:hover{
  text-decoration: underline;
}
.about-content p{
  font-size: 20px;
  line-height: 25px;

}


.btn{
    display: inline-block;
    padding: 16px 30px;
    background: black;
    color: white;
    font-size: 15px;
    margin-top: 10px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all .45s ease;
}
.btn:hover{
    letter-spacing: 2px;
    background: white;
    color: black;

}
