* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
  list-style: none;
}

.middle-text h1{
   font-size: 50px;
  text-align: center;
  margin-top: 20px;
  color: #1a1a1a;        /* soft black */
  font-weight: 600;
  letter-spacing: 1px;
   transform: translateY(20px);
  /* opacity: 0; */
  transition: 0.4s ease;
}
.middle-text h1:hover{
  text-decoration: underline;
  font-weight: 800; 
  transform: translateY(0);
}
 .middle-text .section-title{
   font-size: 20px;
  text-align: center;
  margin-top: 20px;
  color: #3b3b3b;        /* soft black */
  font-weight: 600;
  padding: 10px;
  letter-spacing: 1px;
}

.home{
     height: 70vh;
    width: auto; 
background-color: white;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;

}

.category-wrapper{
  display: flex;
  padding: 0px;
  gap: 20px;
  justify-content: center;
   transition: all .45s ease;
}
.category-wrapper1{
  display: flex;
  padding: 30px;
  gap: 20px;
  justify-content: center;
   transition: all .45s ease;
}
.category-card{
  position: relative;
}

.category-card img{
  height: 400px;
  width: 250px;
  /* object-fit: cover; */
  transition: all 0.45s ease;
}

/* text on image */
.overlay-text{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  color: black;
  letter-spacing: 3px;
  opacity: 0;
  transition: all 0.45s ease;
}

/* hover effects */
.category-card:hover img{
  opacity: 0.4;
   height: 400px;
   border-radius: 20%;
  /* width: 300px; */
}

.category-card:hover .overlay-text{
  opacity: 1;
}


.category-content h3{
  text-align: center;
  color: #515050;
   transition: all .45s ease;
  padding: 10px; 
  font-size: 15px;
}
.category-content a:hover{
  letter-spacing: 2px;
    background: white;
    color: black;
  }
 

.category-content a{
   display: inline-block;
    padding: 16px 30px;
    background: black;
    color: white;
    font-size: 15px;
    /* margin-top: 10px; */
    letter-spacing: 1px;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-left: 60px;

    transition: all .45s ease;
}


  @media (max-width: 768px){
  .category-wrapper{
    flex-direction: column;
    align-items: center;
    gap: 400px;
  }

  .category-wrapper1{
    flex-direction: column;
    align-items: center;
    margin-top: 300px;
    gap: 400px;
  }
  .category-card{
    width: 90%;
    height: 280px;
  }
  .category-card img{
    
    align-items: center;

  }
  .content h2{
    display:none ;
  }
}

.content {
   font-size: 50px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
 
 
}
