/* GRID RESPONSIVE LAYOUT */
.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 20px 40px;
}

/* CARDS */
.category-card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  background: #fff;
  padding-bottom: 15px;
  text-align: center;
  transition: .3s ease;
}

.category-card img {
  width: 50%;
  height: 500px;
  object-fit: cover;
  transition: .4s ease;
}

/* HOVER EFFECT */
.category-card:hover img {
  opacity: 0.4;
}


/* TEXT */
.category-card h3 {
  font-size: 18px;
  margin-top: 10px;
}

.category-card p {
  font-size: 16px;
  margin-bottom: 10px;
}

/* BUTTON */
.shop-btn {
  display: inline-block;
  padding: 10px 25px;
  background: black;
  color: white;
  border-radius: 25px;
  transition: 0.3s ease;
}

.shop-btn:hover {
  letter-spacing: 1px;
  background: #333;
}

/* ============================
     RESPONSIVE BREAKPOINTS
================================ */

/* Tablets */
@media (max-width: 992px) {
  .category-grid {
    grid-template-columns: repeat(2, 1fr);
  }
   
}

/* Mobile */
@media (max-width: 600px) {
  .category-grid {
    grid-template-columns: 1fr;
  }

  .category-card img {
    height: 280px;
  }
 
}

/* IMAGE BELOW TEXT */
.category-card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  transition: .4s ease;
  position: relative;
  z-index: 1;
}

/* TEXT ABOVE IMAGE */
.category-card h3,
.category-card p,
.category-card .shop-btn {
  position: relative;
  z-index: 5;
}

/* HOVER EFFECT */
.category-card:hover img {
  opacity: 0.4;
}
